sourceDir = {{ env "DOTFILES_SOURCE_DIR" | default (joinPath .chezmoi.homeDir "dotfiles") | quote }}

[data]
profile = {{ env "DOTFILES_PROFILE" | default "portable" | quote }}
platform = {{ env "DOTFILES_PLATFORM" | default .chezmoi.os | quote }}
