[submodule "alacritty/catppuccin"]
  path = config/alacritty/catppuccin
  url = https://github.moeyy.xyz/https://github.com/catppuccin/alacritty.git

[submodule "zsh/zsh-autosuggestions"]
  path = home/zsh/zsh-autosuggestions
  url = https://github.moeyy.xyz/https://github.com/zsh-users/zsh-autosuggestions.git

[submodule "zsh/zsh-syntax-hightlighting"]
  path = home/zsh/zsh-syntax-hightlighting
  url = https://github.moeyy.xyz/https://github.com/zsh-users/zsh-syntax-hightlighting.git
