akregatorrc
arkrc
baloofile*
bluedevilglobalrc
clash*
dconf
discoverrc
dolphinrc
fcitx
fcitx5
fontconfig
google-chrome
gtk-3.0
gtk-4.0
gtkrc
gtkrc-2.0
ibus
JetBrains
kactivitymanagerd*
kfontinstuirc
device_automounter_kcmrc
kate*
kcminputrc
kconf_updaterc
KDE*
kde*
kgammarc
kglobalshortcutsrc
khotkeysrc
klipperrc
kmixrc
kon*
krunnerrc
kscreenlockerrc
ksmserverrc
ktimezonedrc
kwallet*
kwin*
kxkbrc
krdcrc
lazygit
libaccounts-glib
menus
microsoft-edge
mimeapps.list
plasma*
powermanagementprofilesrc
pulse
QtProject.conf
session
systemsettingsrc
trashrc
Trolltech.conf
user-dirs*
vlc*
xdg-desktop-portal-kderc
xsettingsd
Zettlr
yesplaymusic
libreoffice*
Kingsoft
glib*
gnome*
email*
filetype*
wayfire*
flameshot
fish
raycast
thefuck
.DS_Store
nvim/plugin
