[submodule "alacritty/catppuccin"]
  path = config/alacritty/catppuccin
  url = https://mirror.ghproxy.com/https://github.com/catppuccin/alacritty.git

[submodule "zsh/zsh-autosuggestions"]
  path = home/zsh/zsh-autosuggestions
  url = https://mirror.ghproxy.com/https://github.com/zsh-users/zsh-autosuggestions.git

[submodule "zsh/fast-syntax-highlighting"]
  path = home/zsh/fast-syntax-highlighting
  url = https://mirror.ghproxy.com/https://github.com/zdharma-continuum/fast-syntax-highlighting.git

[submodule "zsh/zsh-completions"]
  path = home/zsh/zsh-completions
  url = https://mirror.ghproxy.com/https://github.com/zsh-users/zsh-completions.git
