[Desktop Entry]
Type=Application
X-Created-By=Deepin WINE Team
Categories=Network;InstantMessaging;
Icon={{ .chezmoi.homeDir }}/.local/share/icons/hicolor/scalable/apps/com.qq.weixin.work.deepin.svg
Exec={{ .chezmoi.homeDir }}/.local/bin/wecom-deepin %f
Name=企业微信
Name[zh_CN]=企业微信
GenericName=WXWork
Keywords=WXWork;WeCom;企业微信;微信;
Comment=Tencent WXWork Client on Deepin Wine
StartupWMClass=com.qq.weixin.work.deepin
StartupNotify=true
