mixed-port: 10808
allow-lan: true
unified-delay: true
tcp-concurrent: true
bind-address: '*'
mode: global
log-level: info
ipv6: false
external-controller: 0.0.0.0:9090
secret: xxxx

profile:
  store-selected: true

proxy-providers:
  mxlsub:
    type: http
    url: https://xxxx.yyy
    path: ./providers/mxlsub.yaml
    interval: 3600
    override:
      additional-prefix: '[mxlsub]'
  pokemon:
    type: http
    url: https://xxxx.yyy
    path: ./providers/pokemon.yaml
    interval: 3600
    override:
      additional-prefix: '[pokemon]'

proxy-groups:
  - name: AUTO
    type: url-test
    include-all-providers: true
    exclude-filter: '(?i)channel|website|traffic|expire|流量|到期|套餐|官网|建议'
    url: https://www.gstatic.com/generate_204
    interval: 300
    tolerance: 50
    hidden: true
  - name: GLOBAL
    type: select
    default-selected: AUTO
    proxies:
      - AUTO
    include-all-providers: true
    exclude-filter: '(?i)channel|website|traffic|expire|流量|到期|套餐|官网|建议'
