mixed-port: 10808
allow-lan: true
unified-delay: true
tcp-concurrent: true
bind-address: '*'
mode: global
log-level: info
ipv6: false
external-controller: 0.0.0.0:9090
secret: xxxx

profile:
  store-selected: true

proxy-providers:
  mxlsub:
    type: http
    url: https://xxxx.yyy
    path: ./providers/mxlsub.yaml
    interval: 3600
    override:
      additional-prefix: '[mxlsub]'
  pokemon:
    type: http
    url: https://xxxx.yyy
    path: ./providers/pokemon.yaml
    interval: 3600
    override:
      additional-prefix: '[pokemon]'

proxy-groups:
  - name: PROXY
    type: select
    include-all-providers: true
  - name: GLOBAL
    type: select
    proxies:
      - PROXY
      - DIRECT
  - name: AUTO
    type: url-test
    include-all-providers: true
    url: https://www.gstatic.com/generate_204
    interval: 300
    tolerance: 50
